# Ce script à pour vocation d'importer une extraction  Aurion dans la base de données des utilisateurs

In [19]:
!pip install --upgrade firebase-admin pandas

Requirement already up-to-date: firebase-admin in /home/louis/.local/lib/python3.8/site-packages (4.5.3)
Collecting pandas
  Downloading pandas-1.2.3-cp38-cp38-manylinux1_x86_64.whl (9.7 MB)
     |████████████████████████████████| 9.7 MB 7.2 MB/s eta 0:00:01
Requirement already satisfied, skipping upgrade: google-cloud-storage>=1.18.0 in /home/louis/.local/lib/python3.8/site-packages (from firebase-admin) (1.37.0)
Requirement already satisfied, skipping upgrade: cachecontrol>=0.12.6 in /home/louis/.local/lib/python3.8/site-packages (from firebase-admin) (0.12.6)
Requirement already satisfied, skipping upgrade: google-api-python-client>=1.7.8 in /home/louis/.local/lib/python3.8/site-packages (from firebase-admin) (2.1.0)
Requirement already satisfied, skipping upgrade: google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy" in /home/louis/.local/lib/python3.8/site-packages (from firebase-admin) (1.26.3)
Requirement already satisfied, skipping upgrade: google-cloud-firestore>=1.4.0; platform_python_implementation != "PyPy" in /home/louis/.local/lib/python3.8/site-packages (from firebase-admin) (2.1.0)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/lib/python3/dist-packages (from pandas) (2.7.3)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in /usr/lib/python3/dist-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /home/louis/.local/lib/python3.8/site-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: google-resumable-media<2.0dev,>=1.2.0 in /home/louis/.local/lib/python3.8/site-packages (from google-cloud-storage>=1.18.0->firebase-admin) (1.2.0)
Requirement already satisfied, skipping upgrade: google-auth<2.0dev,>=1.11.0 in /home/louis/.local/lib/python3.8/site-packages (from google-cloud-storage>=1.18.0->firebase-admin) (1.27.1)
Requirement already satisfied, skipping upgrade: requests<3.0.0dev,>=2.18.0 in /usr/lib/python3/dist-packages (from google-cloud-storage>=1.18.0->firebase-admin) (2.22.0)
Requirement already satisfied, skipping upgrade: google-cloud-core<2.0dev,>=1.4.1 in /home/louis/.local/lib/python3.8/site-packages (from google-cloud-storage>=1.18.0->firebase-admin) (1.6.0)
Requirement already satisfied, skipping upgrade: msgpack>=0.5.2 in /home/louis/.local/lib/python3.8/site-packages (from cachecontrol>=0.12.6->firebase-admin) (1.0.2)
Requirement already satisfied, skipping upgrade: httplib2<1dev,>=0.15.0 in /home/louis/.local/lib/python3.8/site-packages (from google-api-python-client>=1.7.8->firebase-admin) (0.19.1)
Requirement already satisfied, skipping upgrade: six<2dev,>=1.13.0 in /home/louis/.local/lib/python3.8/site-packages (from google-api-python-client>=1.7.8->firebase-admin) (1.15.0)
Requirement already satisfied, skipping upgrade: uritemplate<4dev,>=3.0.0 in /home/louis/.local/lib/python3.8/site-packages (from google-api-python-client>=1.7.8->firebase-admin) (3.0.1)
Requirement already satisfied, skipping upgrade: google-auth-httplib2>=0.1.0 in /home/louis/.local/lib/python3.8/site-packages (from google-api-python-client>=1.7.8->firebase-admin) (0.1.0)
Requirement already satisfied, skipping upgrade: googleapis-common-protos<2.0dev,>=1.6.0 in /home/louis/.local/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy"->firebase-admin) (1.53.0)
Requirement already satisfied, skipping upgrade: protobuf>=3.12.0 in /home/louis/.local/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy"->firebase-admin) (3.15.5)
Requirement already satisfied, skipping upgrade: setuptools>=40.3.0 in /usr/lib/python3/dist-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy"->firebase-admin) (45.2.0)
Requirement already satisfied, skipping upgrade: packaging>=14.3 in /home/louis/.local/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy"->firebase-admin) (20.9)
Requirement already satisfied, skipping upgrade: grpcio<2.0dev,>=1.29.0; extra == "grpc" in /home/louis/.local/lib/python3.8/site-packages (from google-api-core[grpc]<2.0.0dev,>=1.14.0; platform_python_implementation != "PyPy"->firebase-admin) (1.32.0)
Requirement already satisfied, skipping upgrade: proto-plus>=1.3.0 in /home/louis/.local/lib/python3.8/site-packages (from google-cloud-firestore>=1.4.0; platform_python_implementation != "PyPy"->firebase-admin) (1.18.1)
Requirement already satisfied, skipping upgrade: google-crc32c<2.0dev,>=1.0; python_version >= "3.5" in /home/louis/.local/lib/python3.8/site-packages (from google-resumable-media<2.0dev,>=1.2.0->google-cloud-storage>=1.18.0->firebase-admin) (1.1.2)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /home/louis/.local/lib/python3.8/site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage>=1.18.0->firebase-admin) (4.2.1)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /home/louis/.local/lib/python3.8/site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage>=1.18.0->firebase-admin) (0.2.8)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3.6" in /home/louis/.local/lib/python3.8/site-packages (from google-auth<2.0dev,>=1.11.0->google-cloud-storage>=1.18.0->firebase-admin) (4.7.2)
Requirement already satisfied, skipping upgrade: pyparsing<3,>=2.4.2 in /home/louis/.local/lib/python3.8/site-packages (from httplib2<1dev,>=0.15.0->google-api-python-client>=1.7.8->firebase-admin) (2.4.7)
Requirement already satisfied, skipping upgrade: cffi>=1.0.0 in /home/louis/.local/lib/python3.8/site-packages (from google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=1.2.0->google-cloud-storage>=1.18.0->firebase-admin) (1.14.5)
Requirement already satisfied, skipping upgrade: pyasn1<0.5.0,>=0.4.6 in /home/louis/.local/lib/python3.8/site-packages (from pyasn1-modules>=0.2.1->google-auth<2.0dev,>=1.11.0->google-cloud-storage>=1.18.0->firebase-admin) (0.4.8)
Requirement already satisfied, skipping upgrade: pycparser in /home/louis/.local/lib/python3.8/site-packages (from cffi>=1.0.0->google-crc32c<2.0dev,>=1.0; python_version >= "3.5"->google-resumable-media<2.0dev,>=1.2.0->google-cloud-storage>=1.18.0->firebase-admin) (2.20)
Installing collected packages: pandas
Successfully installed pandas-1.2.3

In [2]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

## Connexion à firestore

In [4]:
cred = credentials.Certificate("cred.json")

In [5]:
firebase_admin.initialize_app(cred)

db = firestore.client()

## Accès à la collection utilisateur

In [7]:
users_col = db.collection(u'users')

### Liste users

In [18]:
users_id = []
for snap in users_col.get():
    users_id.append(snap.id)
    
users_id

['EiYX4OavLfOloAYbkkqC5uNdpWo2', 'uuqbMx3X5TWzk52G447NTPnNQZq1']

## Recuperation des informations utilisateur

In [20]:
import pandas as pd

In [43]:
users = pd.read_csv("BDE_MES_GROUPES.csv")
users.head()

  login.Individu        Coordonnée.Coordonnée        Code.Groupe
0       abatouyn  nabila.abatouy@edu.esiee.fr            20_E3FG
1       abatouyn  nabila.abatouy@edu.esiee.fr  20_E3FG_3G_SI1_1G
2       abatouyn  nabila.abatouy@edu.esiee.fr  20_E3FG_3G_SI2_1G
3       abatouyn  nabila.abatouy@edu.esiee.fr  20_E3FG_3G_SN1_1G
4       abatouyn  nabila.abatouy@edu.esiee.fr  20_E3FG_3G_SN4_1G

## Suppression des doublons

In [44]:
users = users.groupby("login.Individu").first().reset_index()
users

     login.Individu               Coordonnée.Coordonnée        Code.Groupe
0          abatouyn         nabila.abatouy@edu.esiee.fr            20_E3FG
1          abboudmg  georges.abboudmansour@edu.esiee.fr              20_E4
2          abdellah      hicham.abdellaoui@edu.esiee.fr  20_E5F_5A_AN1B_IF
3          abdoulaj     jassim.abdoulalime@edu.esiee.fr            20_E4FE
4           abdouna            amir.abdoun@edu.esiee.fr              20_E1
...             ...                                 ...                ...
2175       zouainea           anas.zouaine@edu.esiee.fr            20_E5FG
2176       zouaouig         gibril.zouaoui@edu.esiee.fr              20_E3
2177           zouf           fangming.zou@edu.esiee.fr          20_E4_PIM
2178        zouhirk          kylian.zouhir@edu.esiee.fr  20_E5F_5A_SH2_1RC
2179           zouo              oscar.zou@edu.esiee.fr              20_E2

[2180 rows x 3 columns]

## Simplification des groupes

In [59]:
users["Code.Groupe"] = users["Code.Groupe"].str.split("_").str[:2].str.join("_")
users

     login.Individu               Coordonnée.Coordonnée Code.Groupe
0          abatouyn         nabila.abatouy@edu.esiee.fr     20_E3FG
1          abboudmg  georges.abboudmansour@edu.esiee.fr       20_E4
2          abdellah      hicham.abdellaoui@edu.esiee.fr      20_E5F
3          abdoulaj     jassim.abdoulalime@edu.esiee.fr     20_E4FE
4           abdouna            amir.abdoun@edu.esiee.fr       20_E1
...             ...                                 ...         ...
2175       zouainea           anas.zouaine@edu.esiee.fr     20_E5FG
2176       zouaouig         gibril.zouaoui@edu.esiee.fr       20_E3
2177           zouf           fangming.zou@edu.esiee.fr       20_E4
2178        zouhirk          kylian.zouhir@edu.esiee.fr      20_E5F
2179           zouo              oscar.zou@edu.esiee.fr       20_E2

[2180 rows x 3 columns]

## Extraction des noms et prenoms

In [64]:
users["surname"] = users["Coordonnée.Coordonnée"].str.split(".").str[0].str.capitalize()
users

     login.Individu               Coordonnée.Coordonnée Code.Groupe   surname
0          abatouyn         nabila.abatouy@edu.esiee.fr     20_E3FG    Nabila
1          abboudmg  georges.abboudmansour@edu.esiee.fr       20_E4   Georges
2          abdellah      hicham.abdellaoui@edu.esiee.fr      20_E5F    Hicham
3          abdoulaj     jassim.abdoulalime@edu.esiee.fr     20_E4FE    Jassim
4           abdouna            amir.abdoun@edu.esiee.fr       20_E1      Amir
...             ...                                 ...         ...       ...
2175       zouainea           anas.zouaine@edu.esiee.fr     20_E5FG      Anas
2176       zouaouig         gibril.zouaoui@edu.esiee.fr       20_E3    Gibril
2177           zouf           fangming.zou@edu.esiee.fr       20_E4  Fangming
2178        zouhirk          kylian.zouhir@edu.esiee.fr      20_E5F    Kylian
2179           zouo              oscar.zou@edu.esiee.fr       20_E2     Oscar

[2180 rows x 4 columns]

In [66]:
users["name"] = users["Coordonnée.Coordonnée"].str.split(".").str[1].str.split("@").str[0].str.capitalize()
users

,login.Individu,Coordonnée.Coordonnée,Code.Groupe,surname,name
0,abatouyn,nabila.abatouy@edu.esiee.fr,20_E3FG,Nabila,Abatouy
1,abboudmg,georges.abboudmansour@edu.esiee.fr,20_E4,Georges,Abboudmansour
2,abdellah,hicham.abdellaoui@edu.esiee.fr,20_E5F,Hicham,Abdellaoui
3,abdoulaj,jassim.abdoulalime@edu.esiee.fr,20_E4FE,Jassim,Abdoulalime
4,abdouna,amir.abdoun@edu.esiee.fr,20_E1,Amir,Abdoun
...,...,...,...,...,...
2175,zouainea,anas.zouaine@edu.esiee.fr,20_E5FG,Anas,Zouaine
2176,zouaouig,gibril.zouaoui@edu.esiee.fr,20_E3,Gibril,Zouaoui
2177,zouf,fangming.zou@edu.esiee.fr,20_E4,Fangming,Zou
2178,zouhirk,kylian.zouhir@edu.esiee.fr,20_E5F,Kylian,Zouhir
2179,zouo,oscar.zou@edu.esiee.fr,20_E2,Oscar,Zou

## Ajout des points par défaut

In [67]:
users["point"] = 0
users

,login.Individu,Coordonnée.Coordonnée,Code.Groupe,surname,name,point
0,abatouyn,nabila.abatouy@edu.esiee.fr,20_E3FG,Nabila,Abatouy,0
1,abboudmg,georges.abboudmansour@edu.esiee.fr,20_E4,Georges,Abboudmansour,0
2,abdellah,hicham.abdellaoui@edu.esiee.fr,20_E5F,Hicham,Abdellaoui,0
3,abdoulaj,jassim.abdoulalime@edu.esiee.fr,20_E4FE,Jassim,Abdoulalime,0
4,abdouna,amir.abdoun@edu.esiee.fr,20_E1,Amir,Abdoun,0
...,...,...,...,...,...,...
2175,zouainea,anas.zouaine@edu.esiee.fr,20_E5FG,Anas,Zouaine,0
2176,zouaouig,gibril.zouaoui@edu.esiee.fr,20_E3,Gibril,Zouaoui,0
2177,zouf,fangming.zou@edu.esiee.fr,20_E4,Fangming,Zou,0
2178,zouhirk,kylian.zouhir@edu.esiee.fr,20_E5F,Kylian,Zouhir,0
2179,zouo,oscar.zou@edu.esiee.fr,20_E2,Oscar,Zou,0

In [73]:
users = users.rename(columns={
    "login.Individu": "id",
    "Coordonnée.Coordonnée": "email",
    "Code.Groupe": "classe",
})
users

,id,email,classe,surname,name,point
0,abatouyn,nabila.abatouy@edu.esiee.fr,20_E3FG,Nabila,Abatouy,0
1,abboudmg,georges.abboudmansour@edu.esiee.fr,20_E4,Georges,Abboudmansour,0
2,abdellah,hicham.abdellaoui@edu.esiee.fr,20_E5F,Hicham,Abdellaoui,0
3,abdoulaj,jassim.abdoulalime@edu.esiee.fr,20_E4FE,Jassim,Abdoulalime,0
4,abdouna,amir.abdoun@edu.esiee.fr,20_E1,Amir,Abdoun,0
...,...,...,...,...,...,...
2175,zouainea,anas.zouaine@edu.esiee.fr,20_E5FG,Anas,Zouaine,0
2176,zouaouig,gibril.zouaoui@edu.esiee.fr,20_E3,Gibril,Zouaoui,0
2177,zouf,fangming.zou@edu.esiee.fr,20_E4,Fangming,Zou,0
2178,zouhirk,kylian.zouhir@edu.esiee.fr,20_E5F,Kylian,Zouhir,0
2179,zouo,oscar.zou@edu.esiee.fr,20_E2,Oscar,Zou,0

In [75]:
users.to_csv("export.csv", index=False)